@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bgColor: rgba(13, 19, 33, 0.02);
  --cardBgColor: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  --textColor: #0d1321;
  --btnColor: #0d1321;
  ---btnTextColor: #ffffff;
  --btnBorderColor: rgba(13, 19, 33, 0.6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
/* ====common css ==== */
.container {
  width: 80%;
  margin: 0 auto;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  /* padding: 30px 60px; */
}
.text-center {
  text-align: center;
}
.top-header-div {
  width: 100%;
  padding: 32px 60px;
  margin-bottom: 20px;
}
.heading {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 20px;
}
.sub-heading {
  color: var(--textColor);
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
/* ====button styles==== */
.btn-primary {
  padding: 15px 35px;
  background-color: var(--btnColor);
  color: var(---btnTextColor);
  border: 1px solid var(--btnColor);
  border-radius: 10px;
}
.btn-outline {
  padding: 10px 30px;
  background-color: white;
  color: var(--btnColor);
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.6);
  border-radius: 7px;
}
/* --- header section starts===== */
.header-section {
  width: 100%;
  background-color: transparent;
  height: 80px;
  padding: 20px 0px;
}
.header-section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section nav h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: var(--textColor);
}
/* ==== header section ends */
/* === hero section starts====  */
.hero-section {
  width: 100%;
  min-height: 80vh;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 30px 60px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--textColor);
}
.hero-text p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--textColor);
  opacity: 0.7;
}
.hero-text button {
  font-size: 1.2rem;
  font-weight: 400;
}
/* === hero section ends====  */
/* ==== why-web-dev section starts ==== */
.why-web-dev-section {
  width: 100%;
  padding-top: 2px;
  /* border: 1px solid red; */
}
.why-web-dev-section .container {
  margin-top: 150px;
}
.why-web-div {
  background-color: var(--bgColor);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-hero-div {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 10px;
}
.card-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background-color: var(--cardBgColor);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 48px;
}
.card-hero-2 {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  border-radius: 16px;
  background-color: var(--cardBgColor);
  border: 1px solid rgb(255, 255, 255);
  padding: 48px;
}
.card-text-div {
  width: 40%;
  background-color: transparent;
}
.card-text-div h3 {
  color: var(--textColor);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin-bottom: 8px;
}
.card-text-div p {
  color: var(--textColor);
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 16px;
}
.card-text-div .btn-outline {
  padding: 5px 8px;
  border-radius: 2px;
}
.card-img-div {
  width: 40%;
}
.card-img-div img {
  width: 100%;
}
/* ==== why-web-dev section ends ==== */
/* ==== my-inspiration-section starts ==== */
.my-inspiration-section {
  padding: 2px;
}
.my-inspiration-section .container {
  margin-top: 150px;
}
.my-inspiration-section .container .top-header-div {
  margin-bottom: 80px;
}
.youtube-video {
  padding: 32px;
  width: 100%;
}
.youtube-video iframe {
  width: 100%;
  border-radius: 20px;
}
/* ==== my-inspiration-section ends ==== */
/* === my current goal section starts === */
.pink-card-bg {
  background-color: rgba(255, 76, 30, 0.05);
}
.sky-card-bg {
  background-color: rgba(0, 76, 232, 0.05);
}
.lemon-card-bg {
  background-color: rgba(255, 223, 0, 0.05);
}
.my-current-goal-section {
  padding-top: 50px;
  padding-bottom: 40px;
}
.my-current-goal-section .container {
  padding-top: 30px;
}
.my-current-goal-section .container .top-header-div {
  margin-bottom: 30px;
}
.current-goal-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.current-goal-cards .current-goal-card {
  width: 30%;
  padding: 40px 20px;
  border-radius: 16px;
}
.current-goal-card-img img {
  width: auto;
  height: 50px;
}
.current-goal-card-text h3 {
  color: var(--textColor);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  margin-bottom: 8px;
}
.current-goal-card-text p {
  color: var(--textColor);
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  margin-bottom: 8px;
}
.current-goal-card-text a {
  color: var(--textColor);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-decoration-line: underline;
}
/* === my current goal section ends === */
/* ===== subscription section starts ==== */
.subscribe-section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.subscribe-section .container {
  background: rgba(0, 0, 0, 0.3);
  background-image: url("../assets/handshake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 64px 0;
  border-radius: 16px;
}
.subscribe-section .container .top-header-div .heading {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}
.subscribe-section .container .top-header-div .sub-heading {
  color: rgb(255, 255, 255);
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.subscribe-section #email {
  width: 548px;
  height: 57px;
  background: rgb(255, 255, 255);
  padding: 19px 20px 19px 20px;
  margin: 0px 16px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  outline: none;
}
.subscribe-section [type="submit"] {
  width: 120px;
  height: 57px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 17px 20px 17px 20px;
  border: none;
}
/* ===== subscription section ends ==== */
/* ==== footer section starts ==== */
.footer-section{
  width: 100%;
  padding: 20px 0;
  background-color:  rgba(13, 19, 33, 0.03);
}
.footer-section .container{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.footer-icon-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer-icon-div .footer-icon{
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.footer-icon img{
  width: 100%;
}
/* ==== footer section ends ==== */
